
    .header {
    background: aqua;
    height: 50px;
    width: 100%;
    
}

 .nav {
    display: flex;
    justify-content: space-between;
}

.image {
height: 50px;
justify-content: left;
}

.register > h1 {
    display: flex;
    justify-content: center;
}
.register > form {
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    padding: 0cm;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: aqua;
    margin-top: 30px;
}
.instagram {
    height: 20px;
    justify-content: left;
    }
    .facebook {
        height: 20px;
        justify-content: left;
        }
        .twitter {
            height: 20px;
            justify-content: left;
            }