body {
    font-family: Poppins;
  }
  
  .firstdiv {
    text-align: center;
 }

 .firstimage {
    width: 20px;
    height: 20px;
    margin-left: 80px;

 }

 .box {
    width: 70%;
			height: 100px;
			border: 1px solid black;
			padding: 20px;
            background-color: black;
			border-radius: 20px;
            margin: auto;
         }

.sales {
    color: #494949;
    font-size: x-small;
    align-items: left;
    margin-top: auto;
}

.firstline {
border-left: 1px solid #494949;
  height: 60px;
 }

 .select1 {
    color: #494949;
    background: transparent;
 }

 .salesdiv {
    display: flex;
    justify-content: space-between;
 }

 .boxstatistics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
 }

 .range > p {
color:#494949;
 font-size: 5px;
 margin-bottom: 10px;
  }

.first_Line_Date 
{ display: flex; 
    justify-content: space-around; 
    flex-direction: column;
    align-items: center;
  }

.date {
    color: #494949;
    font-size: 5px;
} 

.select1 {
   border: none;
   margin-bottom: 20px;
}

.curvedline {
   position: absolute;
   left: 100px;
}

.firstcurvedline {
   position: absolute;
   left: 30px;
   top: 10px;
   }

.secondcurvedline {
   position: absolute;
   left: 30px;
   top: 20px;
 }

 .bluebox {
   width: 30%;
   height: 100px;
   border: 1px solid #DAF4FE;
   background-color: #DAF4FE;
   border-radius: 20px;
     margin-bottom: 200px;
     margin-left: 220px;
     margin-top: 40px;
     padding: 10px;
     position: absolute;

 }

 .blueboxtext_noheading {
   font-size: 8px;
  margin-top: -5px; 
 }
 .statements {
  margin-bottom: 0px;
  margin-top: 10px
 }

 .blueboxtext {
   margin: 0;
 }

 .downloadbutton {
   background-color:#4891FF;
   border: none;
   border-radius: 5px;
   color: #FFFFFF;
   font-size: small;
   width: 100px;
   height: 20px;
   
 }
 .communicationstext {
   margin-top: 100px;
   width: 100%;
   
 }

 .secondblackbox {
   width: 60%;
   height: 130px;
   border: 1px solid black;
   background-color: black;
   border-radius: 20px;
 }

.jan17 {
margin-top: 10px;
margin-left: 35px;
margin-bottom: 5px;
}

.teamcall {
  margin-bottom: 10px;
  margin-top: 10px
}

.secondblackboxtext{
   color: #DFECF4;
   margin-left: 10px;
}
.meetingp {
   font-size: xx-small;
   margin-bottom: 0px;
}

 .joinbutton {
   background-color:#4891FF;
   border: none;
   border-radius: 5px;
   color: #FFFFFF;
   font-size: small;
   width: 110px;
   height: 20px;
   margin-left: 20px;
 
 }